.idea/
dist
bin/*.jar
build
/nbproject/private/
node_modules
out
package-lock.json
target
.DS_Store
installer/jdeploy
installer/jdeploy-bundle
cli/bin
tests/projects/*/jdeploy
./jdeploy

### BROKK'S CONFIGURATION ###
.brokk/**
/.brokk/workspace.properties
/.brokk/sessions/
/.brokk/dependencies/
/.brokk/history.zip
!AGENTS.md
!.brokk/style.md
!.brokk/review.md
!.brokk/project.properties
