# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  workflow_dispatch:
    inputs:
      buildTarget:
        description: 'Build Target (e.g. iphone, android, etc..)'
        required: true
        default: 'iosDebug'
  push:
    tags: "*"

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Build
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        APPLE_2FA_PASSWORD: ${{ secrets.APPLE_2FA_PASSWORD }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: bash release.sh
